APP_NAME=TeenyURL
SERVER_PORT=8080

POSTGRES_DB=teenyurl
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

BASE_URL=http://localhost:8080
DEFAULT_URL_EXPIRATION_DAYS=30
